<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <style>
      p {
        margin: 0;
      }
    </style>
    <h1><%= title %></h1>
    <ul>
      <% if (locals.users) {%> <% users.forEach(user => {%>
      <li>
        <div>
          ID: <%= user.id%>
          <a href="/<%= user.id %>/update">Update</a>
          <!-- This time we're sending a POST request to our route, so we need a form. -->
          <form
            action="/<%= user.id %>/delete"
            method="POST"
            style="display: inline"
          >
            <button
              type="submit"
              onClick="return confirm('Are you sure you want to delete this user?')"
            >
              Delete
            </button>
          </form>
        </div>
        <p>Name: <%= user.firstName %> <%= user.lastName %></p>
        <p>Email: <%= user.email%></p>
        <p>Age: <%= user.age || "NA" %></p>
        <p>Bio: <%= user.bio || "NA" %></p>
      </li>
      <% }); %> <% }%>
    </ul>
    <a href="/create">Create a user</a>
  </body>
</html>
